body::before {
    display: block;
    content: '';
    height: 0px;
}

.navbar {
    max-width: 1226px;
    margin:0 auto;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

.starter > a {
    padding-top: 30px;
}

.About-Me {
    padding-top: 30px;
}

.About-Me > p {
    padding-bottom: 5px;
}

.container {
    max-width: 1250px;
}

.p-5 > container {
    max-width: 1250px;
}

.contact {
    margin: auto;
}

.last {
    margin: auto;
}

h1 { 
    padding-top: 10px;
    content: "\00a0 ";
}

h1:before { 
    padding-top: 10px;
    content: "\00a0 ";
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
}

.navbar-nav > button {
    margin-left:20px;
    margin-right:20px;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}